---
# Note: CC_TEST_REPORTER_ID, the env var required to upload test coverage to Code Climate, is set from the CircleCI web
# interface as a private environment variable.
# https://app.circleci.com/settings/project/github/RITlug/teleirc/environment-variables

# https://circleci.com/docs/2.0/configuration-reference
version: 2.1

workflows:
  main:
    jobs:
      - build_and_test

orbs:
  go: circleci/go@3.0.3

commands:
  golintci-lint:
    description: Run linter checks on TeleIRC.
    steps:
      - checkout
      - run:
          name: Download and install golintci-lint.
          command: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sudo sh -s -- -b $(go env GOPATH)/bin v1.43.0
      - run:
          name: Run Go linter checks.
          command: golangci-lint run
  teleirc-test:
    description: Run Go tests for TeleIRC.
    steps:
      - checkout
      - run:
          name: Run Go test suite.
          command: go test -coverprofile=c.out ./...

jobs:
  build_and_test:
    executor:
      name: go/default
      tag: '1.25'
    steps:
      - checkout
      - go/mod-download
      - go/test
